{% trans_default_domain 'app' %}

<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>{{ t('Password reset', domain = 'messages')|trans }}</title>
</head>
<body>
<h1>{{ t('Request password reset title', domain = 'messages')|trans }}</h1>
<p>{{ t('We got the password request', domain = 'messages')|trans }}</p>
<p>{{ t('To restore click on next link', domain = 'messages')|trans }}:</p>
<p><a href="{{ reset_link }}">{{ t('Restore password', domain = 'messages')|trans }}</a></p>
<p>{{ t('If you have any questions', domain = 'messages')|trans }}.</p>
<p>{{ t('With regards', domain = 'messages')|trans }},</p>
<p>{{ t('Team', domain = 'messages')|trans }}</p>
</body>
</html>
